@(states: plugins.ServerUpdatesPlugin.CurrentStates, events: String, result: Html)(implicit sessionState: plugins.RegisteredUserManager.SessionState)
@main("Woop AssaultCube Match league")(Html("")) {

    <div id="live-events">
        <live-events liveUrl="ws://127.0.0.1:9000/new-user-events" initialJson="@events"></live-events>
    </div>

    @defining({
        import play.api.libs.json.{JsNull,Json,JsString,JsValue}
        val json = Json.toJson(states.servers.valuesIterator.toList)
        json.toString()
    }) { jsonString =>
            <div id="live-games">
        <live-games liveUrl="ws://woop.ac/server-updates" initialJson="@jsonString"></live-games>
            </div>
    }

    <div id="new-games">
    <new-games liveUrl="ws://woop.ac/new-games"></new-games>
    </div>

    <div id="existing-games">
    @result
    </div>

}