@(states: plugins.ServerUpdatesPlugin.CurrentStates, result: Html)(implicit sessionState: plugins.RegisteredUserManager.SessionState)
@main("Woop AssaultCube Match league")(Html("")) {
    @defining({
        import play.api.libs.json.{JsNull,Json,JsString,JsValue}
        val json = Json.toJson(states.servers.valuesIterator.toList)
        json.toString()
    }) { jsonString =>
        <live-games liveUrl="ws://woop.ac/server-updates" initialJson="@jsonString">&nbsp;</live-games>
    }

    @result

}