@(title: String)(top:Html)(data: Html)(implicit sessionState: plugins.RegisteredUserManager.SessionState)
<!doctype html><html>
<head>
    <meta charset="utf-8"/>

<title>@title</title>
<link href='http://fonts.googleapis.com/css?family=Permanent+Marker|Signika:400,700' rel='stylesheet' type='text/css'>
<link href='/assets/stylesheets/main.css' rel="stylesheet" type="text/css"/>
    <script src="/assets/javascripts/bower_components/webcomponentsjs/webcomponents.min.js"></script>
    <link rel="import" href="/assets/javascripts/server-view.html">
    <link rel="import" href="/assets/javascripts/detailed-server-view.html">
</head>
<body>
    <div role="main">
    <header>
        <h1><a href="/">AssaultCube Match League</a></h1>
        <h2>by <a href="http://woop.us/" target="_blank">Woop clan</a></h2>
    </header>
    <div id="top">
    <article><a href="/questions">Questions</a> &bull; <a href="/servers">Servers</a>
    @if(sessionState.profile.nonEmpty) {
        &bull; <a href="/profile">View my profile</a>
        } else {
            &bull; <a href="/login">Log in with Google</a>
        }
    </article>
    </div>
    <div id="content">
        @data
    </div></div>
</body>
    </html>