@main("Questions")(Html("")){
    <article id="questions">
    <h2>What is this?</h2>
    <p>This is a clan match recording system for <a href="http://woop.us/" target="_blank">Woop Clan's</a> <a href="http://assault.cubers.net/" target="_blank">AssaultCube</a> servers.</p>
    <h2>I'd like to talk to you</h2>
    <p>Find us on <a href="http://www.teamspeak.com/?page=downloads">TeamSpeak</a> at our server <a href="ts3server://ts3.hoster.com" target="_blank">&quot;woop.ac&quot;</a>.</p>
    <p>Also join us on <a href="https://webchat.gamesurge.net/?channels=woop-clan">#woop-clan @@ GameSurge</a> IRC channel.</p>
    <p>Here's some AssaultCube:</p>
    <iframe width="560" height="315" src="//www.youtube-nocookie.com/embed/fX7o-1OH-WM?rel=0" frameborder="0" allowfullscreen></iframe>
    <h2>What's the magic behind woop.ac?</h2>
    <p>Scala, Akka, Hazelcast, BaseX, Play!</p>
    <h2>Which servers do you record from?</h2>
    <ul class="servers-list">
        <li>aura.woop.ac 1999 (/connect aura.woop.ac 1999)</li>
        <li>aura.woop.ac 2999 (/connect aura.woop.ac 1999)</li>
        <li>aura.woop.ac 3999 (/connect aura.woop.ac 1999)</li>
        <li>aura.woop.ac 4999 (/connect aura.woop.ac 1999)</li>
    </ul>
    </article>
}
