@(states: plugins.ServerUpdatesPlugin.CurrentStates)(implicit sessionState: plugins.RegisteredUserManager.SessionState)
@main("Servers")(Html("")){

    <article id="servers">
        <detailed-server-view servers="@states.toJson" socketUrl="ws://woop.ac/server-updates">
        </detailed-server-view>
        <hr/>
        <h2><a href="http://www.teamspeak.com/?page=downloads">TeamSpeak</a></h2>
        <p><a href="ts3server://aura.woop.ac" target="_blank">&quot;aura.woop.ac&quot;</a>.</p>
        <h2>IRC</h2>
        <p><a target="_blank" href="https://webchat.gamesurge.net/?channels=woop-clan">#woop-clan @@ GameSurge</a>.</p>
    </article>
}
