@(states: plugins.ServerUpdatesPlugin.CurrentStates)(implicit sessionState: plugins.RegisteredUserManager.SessionState)
@main("Servers")(Html("")){

    <article id="servers">
        <h2>AssaultCube</h2>
        <h3>European (France)</h3>
        <ul>
            <li><a href="assaultcube://aura.woop.ac:1999">aura.woop.ac 1999</a></li>
            <li><a href="assaultcube://aura.woop.ac:2999">aura.woop.ac 2999</a></li>
            <li><a href="assaultcube://aura.woop.ac:3999">aura.woop.ac 3999</a></li>
            <li><a href="assaultcube://aura.woop.ac:4999">aura.woop.ac 4999</a></li>
        </ul>
        <h3>American (Dallas)</h3>
        <ul>
            <li><a href="assaultcube://tyr.woop.ac:1999">tyr.woop.ac 1999</a></li>
            <li><a href="assaultcube://tyr.woop.ac:2999">tyr.woop.ac 2999</a></li>
        </ul>
        <h2><a href="http://www.teamspeak.com/?page=downloads">TeamSpeak</a></h2>
        <p><a href="ts3server://aura.woop.ac" target="_blank">&quot;aura.woop.ac&quot;</a>.</p>
        <h2>IRC</h2>
        <p><a target="_blank" href="https://webchat.gamesurge.net/?channels=woop-clan">#woop-clan @@ GameSurge</a>.</p>
    </article>
}
