@()(implicit sessionState: plugins.RegisteredUserManager.RegisteredSession)
@mainReg(s"Settings")(Html("")){
    <article id="settings">
        <link rel="import" href="/assets/javascripts/bower_components/core-ajax/core-ajax.html">
        <link rel="import" href="/assets/javascripts/bower_components/paper-button/paper-button.html">
        <link rel="import" href="/assets/javascripts/bower_components/paper-input/paper-input.html">
        <link rel="import" href="/assets/javascripts/settings-page.html">
        <settings-page userId="@sessionState.profile.userId" isJoined="@sessionState.profile.hasAuth"></settings-page>
    </article>
}
