<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger %X{akkaSource} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="akka" level="DEBUG"/>
    <logger name="acleague" level="DEBUG"/>
    <root level="DEBUG">
        <appender-ref ref="stdout"/>
    </root>
</configuration>

