
body {
  color:white;
  background-color: #101010;
  font-family: Signika, sans-serif;
  cursor: default;
  margin:0;
  padding:0;
  overflow-y:scroll;
}
div[role='main'] {
  width:46em;
  margin-left:auto;
  margin-right: auto;
  background-image:url('/assets/Metallic_Grunge_Texture_by_dirtygentlemen.jpg');
  & > header {
    padding-top:1em;
    font-size:1.2em;
    font-family: Georgia, serif;
    text-align: center;
    text-shadow: #333 1px 1px 1px, #333 -1px 1px 1px, #333 1px -1px 1px, #333 -1px -1px 1px;

    & h1 { margin-bottom:0; }
    & h2 {
      margin-top:0;
    }
  }
  padding-bottom:2em;

    box-shadow: whitesmoke 1px 1px 3px, whitesmoke -1px -1px 3px, whitesmoke 1px -1px 2px, whitesmoke -1px 1px 3px;

}

.teams {
  display:flex;
}
.team {
  flex:1;
}
.game {
  position:relative;
  width:38em;
  margin-left:auto;
  margin-right: auto;
  margin-bottom:2em;
  background: beige;
  border-radius: 1.2em;

  box-shadow: black 3px 3px 2px, black -3px -3px 2px, black 3px -3px 2px, black -3px 3px 2px;
  color:white;
  text-shadow: #333 1px 1px 1px, #333 -1px 1px 1px, #333 1px -1px 1px, #333 -1px -1px 1px;
  background-position: top center;
}
.game header h2 {
  vertical-align: baseline;
  text-align: center;
  margin-top:0em;
}
.game td a, .game th a {
  text-decoration: none;
}

.team h3 {
  font-size:2.5em;
  text-align: center;
  margin:0.2em;
  margin-top:0.4em;
}
.result {
  padding-left:2em;
  vertical-align: baseline;
}
.result .score {
  font-size:4em;
  display: inline-block;
  text-align: center;
}
.result .subscore:before {
  content:"(";
}
.result .subscore:after {
  content:")";
}
.result .subscore {
  display:inline-block;
  font-size:2em;
}

table.players {
  margin-left:auto;
  margin-right:auto;
  font-size:1.6em;
  margin-top:0em;
}
.cla {
}
.rvsf {
}
th,td {
  padding:0.2em;
  vertical-align: baseline;

}
th a,td a, th span, td span {
  white-space: pre;
}

th.score {
}
.team-header {
  display:flex;
}
.w {
  background:rgba(20,20,20,0.14);
  border-radius:1.2em;
  padding:1.6em;
}
a {
  color:wheat;
  transition:0.3s color;
  text-decoration: none;
}
a:hover {
  color:brown;

}
#top {
  text-align: center;
  text-shadow: #333 1px 1px 1px, #333 -1px 1px 1px, #333 1px -1px 1px, #333 -1px -1px 1px;
  margin-top:-1em;
  margin-bottom:1em;
}

#questions, #servers, #create-profile, #profile, #players, #live-events {
  margin:2em;
  margin-left:4em;
  margin-right:4em;
  box-shadow: black 3px 3px 2px, black -3px -3px 2px, black 3px -3px 2px, black -3px 3px 2px;
  color:white;
  text-shadow: #333 1px 1px 1px, #333 -1px 1px 1px, #333 1px -1px 1px, #333 -1px -1px 1px;
  background:rgba(50,50,30,0.6);
  border-radius:1.2em;
  padding:2em;
}
#permanent-url {text-decoration: underline;}
h2 a {
  text-decoration: none;
}
a.demo-link {
  font-size:0.6em;
  margin-left:0.6em;
  vertical-align: baseline;
  text-decoration: none;
}
#form-items {
  list-style-type: none;
  margin:0;
  padding:0;
}
#form-items h3 {
  margin-bottom: 0;
}
#form-items h3 + p {
  margin-top:0;
}
#form-items input {
  border:2px solid darkgray;
  font-size:1em;
  padding:0.2em 1em;
  font-family: inherit;
}
#form-items button {
  margin-top:1em;
  font-family: inherit;
  font-size:1.6em;
  font-weight: bold;
  padding:0.2em 1em;
  border:2px solid goldenrod;
}
#faults-list h3 {
  color:orangered;
}

.main-info {
}
.basic-counts {
  width:26em;
}
.basic-counts th {
  text-align: left;
}
ol.recent-games {
  list-style-type: none;
  & a {
    text-decoration: none;
  }
}
table.map-master {
  th, td {
  padding:0;
    padding-right: 2em;
  }
  & th {
    font-weight: normal;
    text-align: right;
  }
  td {
    color:lightgray;
  }
  & td.partial {
    color:goldenrod;
  }
  & tr.complete th, td.complete {
    color:wheat;
  }


}

code {
  font-family:Consolas, monospace;
}
.achievements  .achievements {
}

#players ol {
  list-style-type: none;
  margin:0;
  padding:0;
  font-size:1.3em;
  display:flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  /* You can set flex-wrap and flex-direction individually */
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  /* Or do it all in one line with flex flow */
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  /* tweak the where items line up on the row */
  /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
  -webkit-align-content: flex-end;
  align-content: flex-end;
  & li {
    display:inline-block;
    padding:0.4em 1em;
    & a {
      text-decoration: none;
    }
  }
}
#download-ac-button {
  text-align: center;
  background-color:rgba(31,31,31,0.8);
  & a {
    display:block;
    padding-top:1em;
    padding-bottom:1em;
    vertical-align: bottom;
    &:hover {
      color:white;
    }
  }
}